header {
  width: 100%;
  z-index: 100px;
}

#hed {
  color: white !important;
}

.headerOfertas {
  width: 100%;
}

body {
  background-image: url(../img/fondo-helados.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 124vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body .main_class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body .main_class section {
  margin-top: 20px;
}
body .main_class section .caja1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 30px;
}
body .main_class section .caja1 h3 {
  text-align: center;
  background-color: rgb(55, 86, 122);
  border-radius: 15px;
  padding: 5px;
  color: white;
}
body .main_class section .caja1 p {
  color: black;
  line-height: 22px;
  width: 60%;
  border-radius: 7px;
  padding: 10px;
  background-color: rgba(160, 156, 156, 0.692);
}
body .main_class section .cont-destacados {
  display: flex;
  justify-content: center;
}
body .main_class section .cont-destacados h3 {
  width: 80%;
  background-color: rgb(55, 86, 122);
  color: white;
  padding: 5px;
  border-radius: 15px;
}

/* HELADOS HTML */
.main_helados {
  margin: auto;
  height: 70%;
  overflow: scroll;
}

/* OFERTAS HTML */
.mainCarrusel {
  margin: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 140px;
}
footer #p-footer {
  color: white;
  padding: 5px;
  background-color: black;
  border-radius: 15px;
}
footer .redes ul {
  display: flex;
  gap: 100px;
  list-style: none;
}
footer .redes ul li {
  font-size: 25px;
}
footer .redes ul li a i {
  color: white;
  transition: color 0.4s;
}
footer .redes ul li a i:hover {
  color: black !important;
}

@media screen and (max-width: 320px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 10px;
    border-radius: 10px;
    color: white;
    padding: 5px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 10px;
    border-radius: 10px;
    color: white;
    padding: 5px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 25px;
  }
}
.main_helados {
  width: 100vh;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 25px;
  }
}
@media screen and (max-width: 428px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 25px;
  }
}
@media screen and (max-width: 2560px) {
  body {
    width: 100%;
  }
  main {
    margin: 50px 0px;
  }
  footer {
    width: 100%;
  }
  footer .copy {
    padding: 5px;
    text-align: center;
  }
  footer .copy p {
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px;
  }
  footer .redes {
    padding-right: 16px;
  }
  footer .redes ul {
    gap: 25px;
  }
  footer .redes ul li {
    font-size: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
