<<<<<<< HEAD:scss/responsivePartials/_mobile428px.scss
@import "../variablesMixins/mixin";
@import "../variablesMixins/colores";
@media screen and (max-width:428px){
=======
@import "../utilities/mixin";
@media screen and (max-width:1440px){
>>>>>>> main:scss/responsivePartials/_desktop1440px.scss
    body{
        width: 100%;
    }
    main{
        margin: 50px 0px;
    }
    footer{
        width: 100%;
        .copy{
            padding: 5px;
            text-align: center;
            p{
<<<<<<< HEAD:scss/responsivePartials/_mobile428px.scss
                @include backgroundSecundario; 
=======
                @include backgroundSecundario;
>>>>>>> main:scss/responsivePartials/_desktop1440px.scss
            }
        }

        .redes{
            padding-right: 16px;
            ul{
                gap: 25px;
                li{
                    font-size: 25px;

                }
            }
        }
    }
}