@import "../variablesMixins/mixin";
@import "../variablesMixins/colores";
@media screen and (max-width:428px){
    body{
        width: 100%;
    }
    main{
        margin: 50px 0px;
    }
    footer{
        width: 100%;
        .copy{
            padding: 5px;
            text-align: center;
            p{
                @include backgroundSecundario; 
            }
        }

        .redes{
            padding-right: 16px;
            ul{
                gap: 25px;
                li{
                    font-size: 25px;

                }
            }
        }
    }
}